@import '../../styles/global.css';

.layout {
  display: flex;
  height: 100vh; 
}

.sidebarLayout {
  width: 25%;
  max-width: 250px;
  background-color: var(--color-primario); 
  padding: 1rem;
}

.content {
  flex: 1; 
  padding: 20px;
  background-color: #fefefe; 
  overflow-y: auto; 
  color: var(--color-primario);
}